.DS_Store
node_modules
.tmp
npm-debug.log
**/.terraform/*
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
tfplan
* .tfplan
* tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
